<div class="playerdashWrapper">
	<div class="row playerMainWrap">
	<h4>Player Options</h4>
		


		<aside class="col-md-2 playerMainAside" data-ng-controller="HeaderController">
			<button class="btn btn-sm btn-danger">New</button>
			<br>
			<ul class="nav" >
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-folder fa-2x"></i> My Folder <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#"><i class="fa fa-folder-o fa-lg"></i> Game Ratings</a></li>
						<li><a href="#"><i class="fa fa-folder-o fa-lg"></i> Coaching Feedback</a></li>
						<li><a href="#"><i class="fa fa-folder-o fa-lg"></i> Journal Entries</a></li>
						<li><a href="#"><i class="fa fa-folder-o fa-lg"></i> Nutrition Tracking</a></li>
					</ul>
				</li>
				<li><a href="#"><i class="fa fa-inbox fa-lg"></i> Incoming </a></li>
				<li><a href="#"><i class="fa fa-clock-o fa-lg"></i> Recent </a></li>
				<li><a href="#"><i class="fa fa-star fa-lg"></i> Starred </a></li>
				<li><a href="#"><i class="fa fa-trash fa-lg"></i> Trash </a></li>
			</ul>
			<hr>
			<ul class="nav" data-ng-controller="HeaderController">
				<li><a href="#"><i class="fa fa-sliders fa-lg"></i> Evaluations </a></li>
				<li><a href="#"><i class="fa fa-compress fa-lg"></i> Feedback </a></li>
				<li><a href="#"><i class="fa fa-cutlery fa-lg"></i> Nutrition </a></li>
				<li><a href="#"><i class="fa fa-pencil fa-lg"></i> Journal </a></li>
			</ul>
		</aside>

		<section class="col-md-6 playerMainContent" data-ng-controller="PlayerdashboardController">
			Player Dashboard





		</section>

<!-- 		<aside class="col-md-4 goalieSecondAside" data-ng-controller="PlayerdashboardController">
			<h4><i class="fa fa-folder fa-2x"></i> My Actions <i class="fa fa-remove fa-2x pull-right"></i></h4> 
			<tabset>
				<tab heading="Details">
					Details Static content
					Type: {{}}
					Size:
					Location:
					Owner:
					Modified:
					Opened:
					Created:
				</tab>
				<tab heading="Activity">
					Activity Static content
				</tab>
			</tabset>
		</aside> -->
	</div>
</div>